@defaultLightColor: #e5deba;
@defaultDarkColor: #1d1e2c;

nav#navigation {
	position: relative;
	display: flex;

	width: 100%;
	height: 40px;

	justify-content: center;
	align-items: center;

	background: @defaultDarkColor;
	color: @defaultLightColor;

	@media screen and (max-width: 1108px) {
		display: none;
	}

	div.item {
		position: relative;
		display: flex;

		justify-content: center;
		align-items: center;

		height: 100%;

		padding: 0 15px;
		cursor: pointer;

		transition: 100ms ease all;
		&:hover {
			background: lighten(@defaultLightColor, 10%);
			color: rgba(#000, .7);
		}

		span.title {
			font-weight: 700;
			text-transform: uppercase;
			font-size: 15px;
		}
	}
}
