div#message-box-layout {
	position: fixed;

	z-index: 100;

	width: 100%;
	height: 100%;

	padding: 10px;
	background: rgba(#111, .8);

	top: 0;
	left: 0;
	overflow: hidden;

	div#message-box-cursor-hint {
		position: absolute;
		display: block;

		// max-width: 100%;
		max-width: 220px;
		width: fit-content;

		background: rgba(#000, .5);
		border-radius: 4px;

		color: rgba(#fff, .6);
		pointer-events: none;

		top: 0;
		left: 0;

		overflow: hidden;
		white-space: normal;

		padding: 5px;
		font-size: 12px;

		z-index: 100;

		text-align: justify;
		transform: translateY(-50%) translateX(-100%);

		&[data-state="false"] {
			transition: 100ms ease all;
		}
		opacity: 0;

		// &[reverse-direction="true"] {
		// 	transform: translateY(-50%) translateX(10px);
		// }

		&[data-state="true"] {
			opacity: 1;
		}
	}

	/**
	 * Эффект размытия фона; отключен в связи с нестабильной работой сайта (пролагиванием)
	 */
	// backdrop-filter: blur(3px);

	opacity: 1;
	transition: 100ms ease all;

	// Блок для всего контента сообщения (по центру layouter'a)
	div.msg-holder {
		width: 320px;
		max-width: 100%;

		cursor: initial;

		// Стили для блоков с текстом (заголовок и текст сообщения)
		span.msg-title,
		span.msg-message {
			position: relative;
			display: block;

			width: fit-content;
			white-space: normal;

			/*
			 * Разбиение происходит БЕЗ разделения слов;
			 * break-all будет просто ломать слова в наиболее
			 * удобных (для программы) местах
			 */
			word-wrap: break-word;
			word-break: normal;

			width: 100%;
			height: fit-content;

			font-weight: 500;
			opacity: .9;
			// text-align: justify;

			p {
				margin: 0;
				&:not(:first-child) {
					margin-top: 10px;
				}
			}
		}

		span.msg-title {
			color: #fff;
			opacity: 1;

			text-align: left;
			font-weight: 700;

			padding: 0 10px;
		}

		// Блок для всего контента сообщения, кроме заголовка
		div.msg-content {
			width: inherit;
			height: fit-content;

			white-space: normal;
			align-items: flex-end;

			gap: 20px;
		}

		// Блок-держатель для кнопок сообщения
		div.msg-buttons-holder {
			box-shadow: unset;

			align-items: flex-end;
			flex-direction: column;

			width: fit-content;
			margin-left: auto;

			background: transparent;
			gap: 5px;

			padding: 0 10px;

			/**
			 * Дополнительные стили кнопок
			 */
			div.button {
				border-radius: 4px 0 0 4px;
				&:first-child {
					border-radius: 4px 4px 0 4px;
				}

				&:last-child {
					border-radius: 4px 0 4px 4px;
				}

				&.warn {
					background: rgba(rgb(255, 197, 88), .7);
					&:hover {
						background: rgba(rgb(245, 183, 68), .7);
					}
				}

				&.critical {
					background: rgba(rgb(214, 27, 27), .5);
					&:hover {
						background: rgba(rgb(214, 27, 27), .6);
					}
				}
			}
		}
	}

	// Включение и отключение окна
	&[data-state="false"] {
		opacity: 0;
		pointer-events: none;
	}
}
