// Содержание окна для редактора (редактор и параметры материала)
div.content-container#content-editor {
	width: calc(100% - 40px);
	height: 100%;

	overflow: hidden;

	margin: 20px 10px;
	margin-top: -10px;
	margin-bottom: 0;

	div.cdx-attaches {
		position: relative;
		display: flex;

		flex-direction: row;
		gap: 10px;
		padding: 20px;

		border: 1px solid rgba(#000, .2);
		border-radius: 4px;

		align-items: center;

		a.cdx-attaches__download-button {
			margin-left: auto;
		}

		div.cdx-attaches__size {
			position: relative;
			display: flex;

			margin-top: 6px;

			flex-direction: row;
			gap: 4px;

			opacity: .8;
			font-size: 14px;
			&::after {
				content: attr(data-size);
				position: relative;
				display: block;
			}
		}
	}

	div.ce-delimiter.cdx-block {
		&::before {
			content: "";
			display: none;
		}

		border-top: 1px dashed rgba(#000, .2);
		padding: 10px 0;
		margin: 20px;

		width: calc(100% - 40px);
	}

	// Параметры для компонента выпадающего списка
	div.dropdown {
		width: 100%;
	}

	// Обёртка, которая идет внутри компонента ScrollArea
	div.section-wrapper {
		width: 100%;
		height: fit-content;
		padding: 10px;
		gap: 10px;

		justify-content: center;

		// Секция (лево-право, редактор и настройки)
		div.section {
			width: 100%;
			height: fit-content;

			span.title {
				position: relative;
				display: block;

				font-weight: 700;
				width: 100%;

				// text-align: center;
				opacity: 0.7;

				text-transform: uppercase;

				font-size: 14px;
			}

			// Настройки
			&.aside-menu {
				max-width: 320px;
				width: 320px;

				overflow: initial;

				span.text-title {
					font-weight: 700;
					opacity: 0.5;
					font-size: 14px;
					margin: 5px;

					text-transform: initial;
					margin-top: 20px;
				}
			}

			// Редактор
			&.editor-container {
				min-height: 720px;
				max-width: 720px;

				font-size: 15px;
				font-weight: 500;
				.ce-tune-alignment--left {
					.ce-paragraph {
						text-align: justify;
					}
				}
			}
		}
	}

	// Параметры компонента ScrollArea
	div.content-scroll-area {
		width: 100%;
	}

	span.not-available {
		position: relative;
		display: block;

		font-size: 13px;
		opacity: .5;

		font-weight: 500;
		// padding: 10px;

		max-width: calc(100% - 40px);
		left: 20px;

		white-space: normal;
		// text-align: center;
	}

	input.article-title {
		margin: 10px;
		width: calc(100% - 20px);
	}

	div.button {
		margin-top: 10px;
		width: 100%;
	}

	div#editorjs-holder {
		width: 100%;

		overflow: visible;
		white-space: normal;
	}

	div.editor-container {
		overflow: visible;

		div.image-tool__image img {
			width: 100%;
		}
	}
}

div.page-exception {
	width: 100%;
	height: 100%;

	top: 0;
	left: 0;

	div.page-exception-content {
		max-width: 360px;
		white-space: normal;

		text-align: justify;

		font-weight: 500;
		align-items: flex-start;

		span.title {
			font-weight: 700;
			font-size: 18px;

			opacity: .8;

			text-transform: uppercase;
		}

		span.description {
			padding: 5px;
			padding-left: 10px;

			border-left: 2px solid rgba(#000, .2);
		}

		span.code {
			opacity: .4;
			font-size: 14px;

			font-weight: 700;
		}
	}
}
